@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Winky Sans", sans-serif;
    background-color: aqua;
    margin: 5%;
    line-height: 1.6;

}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(28, 123, 54,01);
}

header{
    text-align: center;
    color: rgb(170, 52, 72);
    padding: 20px 0;
    border-radius: 8px 8px 0 0;
    background-image: url('./img/codigo-fuente.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

header figure img{
    border-radius: 50%;
    border: 5px solid #36be36;
    box-shadow: 0 0 10px;
}

header h1{
    font-size: 2em;
    margin-top: 0.7;
}

header h2{
    font-size: 1.2em;
    opacity: 0.7;
}

.container{
    background-color: blue;
    width: 80%;
    position: relative;
    z-index: 1;
}

.contenedor_foto_perfil{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 7px solid blueviolet;
    margin: 5%;
    box-shadow: 0 0 20px rgba(0,0,0,0,5);
}

.contenedor_foto_perfil img{
    width: 100%;
    height: auto;
    display: block;
}

.cabecera{
    position: relative;
}

.nombre_puesto{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    text-shadow: 0 0 20px rgba(0,0,0,0,5);
}

